html, body, div, td{
	font-family: sans-serif;
	font-size: 11px;	
}

.bold{
	font-weight: bold;
}

.columnDefinition{
	border-collapse: collapse;
	border: 1px solid #d1d2d3;	
}

.columnDefinition-header td{
	font-weight: bold;
	background-color: #f1f1f1;
	border-bottom: 1px solid #d1d2d3;
	padding: 5px 5px 5px 5px;
}

.uriTextbox{
	width: 50em;
	background-color: #ffffcc;
}

.tabFileWizard .gwt-TabPanel{
	border: none;
}

.tabFileWizard .gwt-TabPanelBottom{
	border-top: 3px solid #bbddff;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.tabFileWizard .gwt-TabBar .gwt-TabBarItem{
	background: #ddeeff;
	border-top: 1px solid #bbddff;
	border-right: 1px solid #bbddff;
	border-left: 1px solid #bbddff;	
	font-weight: normal;
	
}

.tabFileWizard .gwt-TabBar .gwt-TabBarItem-selected{
	font-weight: bold;
} 

.tabFileWizard .gwt-TabBar .gwt-TabBarItem div{
	font-size: 14px;
}

.greyCell{
	background-color: #b6b6b6;
}