html, body, div, td{
	font-family: sans-serif;
	font-size: 11px;	
}

.bold{
	font-weight: bold;
}

.columnDefinition{
	border-collapse: collapse;
	border: 1px solid #d1d2d3;	
}

.columnDefinition-header td{
	font-weight: bold;
	background-color: #f1f1f1;
	border-bottom: 1px solid #d1d2d3;
	padding: 5px 5px 5px 5px;
}

.uriTextbox{
	width: 50em;
	background-color: #ffffcc;
}

.tabFileWizard .gwt-TabPanel{
	border: none;
}

.tabFileWizard .gwt-TabPanelBottom{
	border-top: 3px solid #bbddff;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.tabFileWizard .gwt-TabBar .gwt-TabBarItem{
	background: #ddeeff;
	border-top: 1px solid #bbddff;
	border-right: 1px solid #bbddff;
	border-left: 1px solid #bbddff;	
	font-weight: normal;
	
}

.tabFileWizard .gwt-TabBar .gwt-TabBarItem-selected{
	font-weight: bold;
} 

.tabFileWizard .gwt-TabBar .gwt-TabBarItem div{
	font-size: 14px;
}

.greyCell{
	background-color: #b6b6b6;
}

.loadingIndicator{
	font-size: 7px;
	color : #E4E4E4;
}

.waitDialog-icon {
	height: 26px;
	width: 26px;
	background: transparent url(images/ajax-loader.gif) no-repeat;
}

.loadingMask{
}

.loadingMask-loading{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background: #FDFDFD;
	-moz-opacity: 0.75; 
	filter: alpha(opacity=75); 
	opacity: 0.75;
}

.loadingMask .nmx-loadingIndicator{
	background: #ffffff;
	border: 1px solid #9b9c9b;
	color: #000000;
	z-index: 3;
	padding: 11px 11px 11px 11px;
}